/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
h1, h2, h3 {
    font-weight: 700;
    color: #333;
}
/* Navbar Styles */
.navbar {
    background-color: #343a40;
    padding: 15px;
}
.navbar-brand {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}
.navbar-nav .nav-link {
    color: #fff;
    font-weight: 500;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: capitalize;
 }
.navbar-nav .nav-link:hover {
    color: #f8f9fa;
    background-color: #495057;
    border-radius: 5px;
}
/* Section Styles */
.program-section h2 {
    color: #495057;
    font-size: 2rem;
    border-bottom: 2px solid #495057;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: center;
}
.program-section p {
    font-size: 1rem;
    margin-bottom: 15px;
    color: #555;
}
.program-section {
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}
.program-section:nth-child(even) {
background-color: #f1f1f1;
}
/* Centering the form */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
/* Style for the email input field */
form input[type="email"] {
    width: 50%;  /* Adjust the width as per your requirement */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;  /* Ensures text inside input is centered */
}

/* Style for the subscribe button */
form button {
    background-color: #32CD32;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%; /* Adjust width of button as per your need */
}

form button:hover {
    background-color: #228B22;
}
/* Footer Styles */
footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 0.9rem;
}

footer p {
    margin: 0;
    padding:0;
}
footer a {
color: #ffffff;
text-decoration: underline;
}
footer a:hover{
color: #d4d4d4;
text-decoration: none;
}
/* Responsive Design */
@media (max-width: 768px) {
    .navbar-brand {
        font-size: 1.2rem;
    }

    .program-section h2 {
        font-size: 1.75rem;
    }

    .program-section {
        padding: 20px;
    }

    footer {
        font-size: 0.8rem;
    }
}